.slide-pc{
    position: relative;
    .slideOuter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .slideInner{
        position: absolute;
        width: 59.5%;
        height: 56%;
        top: 17%;
        left: 20%;
        overflow-y: scroll;
        z-index: 20;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE/Edge 古いバージョン */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
.slide-sp{
    position: relative;
    .slideOuter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .slideInner{
        position: absolute;
        width: 28%;
        height: 89%;
        top: 5%;
        left: 36%;
        overflow-y: scroll;
        z-index: 20;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE/Edge 古いバージョン */
        border-radius: 10%;
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}